/* bars */
/* select {
    display: flex;
    width: 15.5625rem;
    padding: 0.5rem 0.75rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    background: #FFF;
    border: none;
    color: black;
  } */