/* bars */

form {
    background-color: white;
    width: 15.5rem;
    height: 2.25rem;
    padding: 0.5rem 0.75rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  input {
    all: unset;
    font: 0.875rem;
    color: #fff;
    height: 100%;
    width: 100%;
    color: black;
    text-align: center;
  }

  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.44rem;
    margin-bottom: 2rem;
  }